{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "quotes": [2, "single"]
  },
  "env": {
    "browser": true,
    "amd": true
  },
  "globals": {
    "module": false,
    "gulp": false,
    "global": false
  }
}
